.label {
  display: block;
  font-weight: 600;
  margin-bottom: 10px;
}

.input {
  border: 1px solid #d6d6e2;
  padding: 15px;
  border-radius: 3px;
  font: inherit;
  outline: none;
  width: 100%;
  margin-bottom: 20px;
  transition: border-color .3s;
  &:focus {
    border-color: #2b9cf2;
  }
}